/*
 I'M NOT ACTUALLY USING THIS FILE IN THE PROJECT
 IT'S FOR EXAMPLE PURPOSES ONLY (AND MUCH IS LEFT OUT)
 FOR THE ACTUAL FILE USED, REFER TO styles.css ~JM
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Side nav */
#mainNav {
  position: fixed;
  z-index: 1000;
  width: 250px;
  height: calc(100vh - 47px);
  overflow-y: auto;
  background: #272727;
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}
#mainNav a:first-child {
  margin-top: 46px;
}
#mainNav a {
  display: block;
  transform: translateX(-3.5em);
  padding: 10px 15px;
  border-top: 1px solid #484848;
  border-bottom: 1px solid #2E2E2E;
  font-size: 16pt;
  color: #ffffff;
  text-decoration: none;
  transition: transform 0.5s ease-in-out;
}

/* Sticky Header */
#mainHeader {
  position: fixed;
  z-index: 1001;
  top: 0vh;
  left: 0vw;
  width: 100%;
  height: 47px;
  padding: 12px 5px 10px 50px;
  background: #4C4C4C;
  color: #ffffff;
}

#mainNav:target, #mainNav:target a {
  transform: translateX(0%);
}

/* Custom HTML Tooltips */
.with-tool {
  position: relative;
}
.with-tool .tool {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease-out;

  background: #fffff3;
  border-radius: 10px;
  color: #000;
  position: absolute;
  z-index: 2000;
  width: 600px;
  text-align: left;
  padding: 5px 10px;
  top: 120px;
  border: 2px solid #000;
}
.with-tool:hover .tool, .with-tool .tool:hover {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.5s, opacity 0.5s ease-out;
}
.with-tool .tool:before { /* border around triangle for tooltip */
  content: '';
  border-style: solid;
  border-color: transparent;
  border-width: 20px 17px;
	position: absolute;
	top: -43px;
	left: 38px;
  border-bottom: 22px solid #000;
}
.with-tool .tool:after { /* triangle for tooltip */
  content: '';
  border-style: solid;
  border-color: transparent;
  border-width: 20px 15px;
  position: absolute;
  top: -40px;
  left: 40px;
  border-bottom: 20px solid #fffff3;
}

/* Candy Cane BG */
#slide11a .slide-background {
  background-image: repeating-linear-gradient(
    -45deg,
    #fff8dc,
    #fff8dc 30px,
    #fff0cc 30px,
    #fff0cc 60px
  );
}

/* Keyframes for movement */
@keyframes makeThisThingMove {
  5%  { transform: translate(200px, 10px); }
  10% { transform: translate(-200px, 125px); }
  15% { transform: translate(100px, 5px); }
  30% { transform: translate(-100px, -10px); }
  45% { transform: translate(300px, 125px); }
  60% { transform: translate(-300px, -5px); }
  80% { transform: translate(-100px, 200px); }
  100% { transform: translate(0, 0); }
}
#this-movable-thing  {
  animation-name:  makeThisThingMove;
  animation-duration: 5s;
  animation-delay: 2s;
  transition-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

/* Hide checkboxes and transition with labels */
input[type='checkbox'].show {
  display: none;
}
#slide5 .codeExample {
  position: absolute;
  top: 0vh;
  left: 40vw;
  width: 50vw;
  height: 55vh;
  padding: 10px 20px;
  background: #ffffff;
  box-shadow: 1px 1px 10px #000000;
  transition: all 0.5s ease-in-out;
}
#slide5 #translateShow ~ .codeExample.translate,
#slide5 #rotateShow ~ .codeExample.rotate,
#slide5 #scaleShow ~ .codeExample.scale,
#slide5 #skewShow ~ .codeExample.skew {
  transform: scale(0);
}
#slide5 #translateShow:checked ~ .codeExample.translate,
#slide5 #rotateShow:checked ~ .codeExample.rotate,
#slide5 #scaleShow:checked ~ .codeExample.scale,
#slide5 #skewShow:checked ~ .codeExample.skew {
  transform: scale(1.0);
}
#slide5 #translateShow:checked ~ .wrapper-2d.translate > .example.transform > label#translateShowLabel,
#slide5 #rotateShow:checked ~ .wrapper-2d.rotate > .example.transform > label#rotateShowLabel,
#slide5 #scaleShow:checked ~ .wrapper-2d.scale > .example.transform > label#scaleShowLabel,
#slide5 #skewShow:checked ~ .wrapper-2d.skew > .example.transform > label#skewShowLabel {
  padding: 3px 5px;
  background: #0000ff;
  border: 1px solid #ff0000;
  border-radius: 10px;
  color: #ffffff;
}

/* Convert square to circle */
@keyframes squareToCircle {
  0%  {
    border-radius: 0 0 0 0;
    background: #4682b4;
    transform: rotate(0deg);
  }
  25%  {
    border-radius: 50% 0 0 0;
    background: #daf7a6;
    transform: rotate(90deg);
  }
  50%  {
    border-radius: 50% 0 0 50%;
    background: #ffc300;
    transform: rotate(180deg);
  }
  75%  {
    border-radius: 50% 0 50% 50%;
    background: #ff5733;
    transform: rotate(270deg);
  }
  100% {
    border-radius: 50%;
    background: #c70039;
    transform: rotate(360deg);
  }
}
#slide10 .circle {
  animation-name: squareToCircle;
  animation-duration: 4s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, .015, .295, 1.225);
  animation-direction: alternate;
}

/* Square turn to Heart */
@keyframes squareToHeartBefore {
  0% {
    left: 125px;
    border-radius: 0 0 0 0;
    transform: rotate(0deg);
  }
  5% {
    left: 125px;
    border-radius: 0 0 0 0;
    transform: rotate(0deg);
  }
  30% {
    left: 125px;
    border-radius: 0px 125px 0px 0px;
  }
  60% {
    left: 125px;
    border-radius: 125px 125px 0px 0px;
    transform: rotate(0deg);
    transform-origin: 0% 0%;
  }
  90% {
    left: 125px;
    border-radius: 125px 125px 0px 0px;
    transform: rotate(-45deg);
    transform-origin: 0% 100%;
  }
  100% {
    left: 125px;
    border-radius: 125px 125px 0px 0px;
    transform: rotate(-45deg);
    transform-origin: 0% 100%;
  }
}
@keyframes squareToHeartAfter {
  0% {
    left: 0px;
    border-radius: 0 0 0 0;
    transform: rotate(0deg);
  }
  5% {
    left: 0px;
    border-radius: 0 0 0 0;
    transform: rotate(0deg);
  }
  30% {
    left: 0px;
    border-radius: 125px 0px 0px 0px;
  }
  60% {
    left: 0px;
    border-radius: 125px 125px 0px 0px;
    transform: rotate(0deg);
    transform-origin: 0% 0%;
  }
  90% {
    left: 0px;
    border-radius: 125px 125px 0px 0px;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }
  100% {
    left: 0px;
    border-radius: 125px 125px 0px 0px;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }
}
.heart:before,
.heart:after {
  position: absolute;
  content: "";
  top: 0px;
  width: 125px;
  height: 200px;
  background: #ee1111;
}
.heart:before {left: 125px;}
.heart:after {left: 0px;}
#slide10 .heart::before {
  animation-name: squareToHeartBefore;
  animation-duration: 8s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}
#slide10 .heart::after {
  animation-name: squareToHeartAfter;
  animation-duration: 8s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

/* Basic spinner */
@keyframes spin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #0000ff;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 4s linear infinite;
}

/* Rolling Smiley */
.rollingSmiley {
  width: 1000px;
}
@keyframes rollingSmiley {
  50% { transform: translate(872px, 0px) rotate(2.0turn); }
  100% { transform: translate(0px, 0px) rotate(0turn); }
}
.rollingSmileyWrapper img {
  animation-name: rollingSmiley;
  animation-duration: 8s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

/* Flying Smiley */
.flyingSmileyWrapper {
  width: 128px;
  height: 128px;
  margin-top: -200px;
}
@keyframes flyingSmiley {
  0% {transform: translate(0px, 50px) scale(0.01);}
  1% {transform: translate(150px, 0px) scale(0.1);}
  2% {transform: translate(300px, 10px) scale(0.2);}
  3% {transform: translate(400px, 40px) scale(0.3);}
  4% {transform: translate(500px, 70px) scale(0.4);}
  5% {transform: translate(550px, 110px) scale(0.5);}
  6% {transform: translate(500px, 160px) scale(0.6);}
  7% {transform: translate(450px, 200px) scale(0.7);}
  10% {transform: translate(450px, 250px) scale(1.0) rotate(0turn);}
  20% {transform: translate(450px, 250px) scale(2.0) rotate(2.5turn);}
  100% {transform: translate(450px, 250px) scale(1.0) rotate(0turn);}
}
.flyingSmileyWrapper img {
  display: inline-block;
  animation-name: flyingSmiley;
  animation-duration: 8s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  transition-timing-function: ease-in-out;
}
